body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: black;
}

#input-container {
    color: white;

    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;

    margin-bottom: 40px;
    margin-top: 20px;

    border-radius: 5px;
}


#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 500px;
    height: 500px;
}