body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#input-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: 40px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* Set a fixed size for the container */
    width: 500px;
    height: 500px;
}